@page "/users"
@inject UniWisers.BusinessLayer.IRepo.IUserRepo userRepo
@inject IJSRuntime JS
<PageTitle>Users</PageTitle>



<div class="card card-info">
    <div class="card-header">
        <div class="card-title float-left pt-2">
            <h3>All Users</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive mt-2">
            @if (users != null && users.Any())
            {
                <table class="table" id="user_table">
                    <caption>List of All Users</caption>
                    <thead class="table-dark">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th scope="col">Job</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (users != null && users.Any())
                        {
                            @foreach (var user in users)
                            {
                                <tr>
                                    <td>@user.FirstName @user.LastName</td>
                                    <td>@user.Email</td>
                                    <td>@user.Job</td>
                                    <td class="d-flex align-items-center flex-column flex-md-row" style="gap: 0.3rem;">
                                        <a href="user-detail/@user.Id">
                                            <div class="btn btn-primary">
                                                <span class="oi oi-eye"></span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="btn btn-danger">
                                                <span class="oi oi-trash"></span>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>You have no Users</p>
            }
        </div>
    </div>

</div>


@code {

    private IEnumerable<UserDTO>? users { get; set; }
    protected override async Task OnInitializedAsync() => users = userRepo.GetUsers();
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            JS.InvokeVoidAsync("UserTable");
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
