@model UniWisers.Models.UserPostDTO
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_MainLayout.cshtml";
}

@section UserFullName
{
    @ViewBag.CurrentUserName
}
@section PostForm
    {
    <form method="post" asp-action="AddUserPost">
        <div class="form-group">
            <input type="text" placeholder="What's on your mind" class="form-control" asp-for="PostData">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
}


    @section AllPosts
{
    @await Component.InvokeAsync("UserPosts", new { UserId = ""})
}